.body-light {
    background-color: #ebebeb;
}
.body-dark {
    background-color: #2d2d2d;
    color: #05fcc8 !important;
}

.noticeBoard {
    padding: 1% 1% 1% 1%;
    background: #e0ff66;
    color: #000000;
    text-align: center;
    align-content: center;
}

.header, .gameSelect, .presenceInfo, .control {
    margin: 2% 5% 2% 5%;
    text-align: center;
    align-content: center;
}

.footer {
    background: #ebe2e2;
    position: fixed;
    align-content: center;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 2%;
}