.body-light {
    background-color: #ebebeb;
}
.body-dark {
    background-color: #2d2d2d;
    color: #05fcc8 !important;
}

.modal-dark {
    color: #2d2d2d !important;
}

.noticeBoard {
    padding: 1%;
    background: #e0ff66;
    color: #000000;
    text-align: center;
    align-content: center;
}

.header, .presenceInfo {
    margin: 2% 5%;
    text-align: center;
    align-content: center;
}

.addGameRow {
    margin: 2% 5%;
}

.gameSelect, .control {
    margin: 4% 5% 2%;
    text-align: center;
}

input {
    text-align: center;
}